@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
    height: 100%;
    interpolate-size: allow-keywords
}

body {
    margin: 0px;
    background: #000f;
    height: 100%;
}
#bg {
    background: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
div {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#click {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#fade-gradient {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
    height: 10vh;
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    z-index: 999;
}
.centerh {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
}
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    background-color: #000;
    border: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    height: min-content;
    margin-top: 20px
}
.row {
    width:40%;
    display: block;
    justify-content: center;
    margin-bottom: 0;
    transition: 1s ease-in-out;
    z-index: 99;
}
.row.active {
    opacity: 1;
}
.section-header {
    font-weight: 750;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0; /* For horizontal scrollbar */
    background: transparent; /* Optional: just make scrollbar invisible */
}
a {
    color: #aaf;
    text-decoration: none;
    font-weight: 750;
}
.title {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title-text {
    opacity: 0;
    transform: translateX(-100%);
    animation: flyInFromLeft 1s ease-out forwards;
    font-weight: 750;
}
.glow {
    text-shadow: 0 0 10px #666,
    0 0 20px #666
}
#blackout {
    background-color: #000;
    opacity: 0;
    z-index: 97;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
#blackout.active {
    opacity: 1;
}
.g-text {
    background-clip: text;
    font-weight: 750;
    color: transparent;
    background-image: linear-gradient(45deg, #0f0, #0fd);
}
@keyframes flyInFromLeft {
    0% {
    transform: translateX(-100%);
    opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#top-bar {
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #000;
    border-bottom: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}
.top-option {
    display: inline-block;
    font-weight: 750;
    position: relative;
    cursor: default;
    transition: 0.25s ease-out;
    cursor: pointer;
}
.top-option:hover {
    padding-bottom: 5px;
    transform: translate(0, -3px);
}
.top-option::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.top-option:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
.price {
    width: 25%;
    background-color: #000;
    border: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    border-radius: 20px;
    z-index: 1000;
    font-weight: 750;
    padding: 20px;
}
button {
    background-color: #000;
    border-radius: 15px;
    border: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    padding: 10px;
    color: #fff;
    font-weight: 750;
    transition: 0.25s ease-out;
    cursor: pointer;
}
button:hover {
    background: 
        linear-gradient(45deg, #0f0, #0fd) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    color: #000;
}

.flyin {
    opacity: 1;
    transform: translateY(0);
    transition: opacity ease-out 1.25s, transform ease 1.25s, ease-out 1.25s;
    @starting-style {
        opacity: 0;
        transform: translateY(50vh);
    }
}

.price-container {
    align-items: flex-start;
    width:100%;
    gap:30px;
    overflow-y: hidden;
    height: auto;
    transition: height ease 2s;
    @starting-style {
        height: 200vh;
    }
}

#row-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50px;
}

input {
    border-radius: 15px;
    border: transparent 2px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    padding: 10px;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

.price-divider {
    width:100%;
    border: transparent 1px solid;
    background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #0f0, #0fd) border-box; 
    margin-top:50px;
}

#home-button {
    width: 50px;
    height: 50px;
    z-index: 10000;
    cursor: pointer;
}

.something {
    width: 20vw;
    font-size: 30px;
    font-weight: 750;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#ending-text {
    width: 50vw;
    font-weight: 750;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

#home-title {
    font-weight: 750;
    font-size: 50px;
    font-family: 'Space Grotesk', sans-serif;
    color: #0f7;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    animation: expand 1s ease-out;
}

#title-image {
    height: 75px;
    animation: spin 1s ease-out;
}

.scroll-reveal {
    animation: fadeRight 1.5s ease forwards;
}

.scroll-reveal-left {
    animation: fadeLeft 1.5s ease forwards;
}

.hidden {
    opacity: 0;
}

.hidden-left {
    opacity: 0;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: fit-content;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(calc(360deg / 11 * 7));
    }
}

#our-team {
    width: 20vw;
    animation: fadeUp 1s ease;
}

@media only screen and (max-width: 767px) {
    .price-container {
        display: flex;
        width:100%;
        gap:30px;
    }
    .price {
        margin-top: 10px !important;
        width: 80%;
        margin: 5px auto !important;
    }
    .price-container {
        flex-direction: column;
    }
    .price-container {
        flex-direction: column;
    }
    #row-wrapper {
        flex-direction: column;
    }
    .row {
        width: 100vw;
        margin-bottom: 0;
    }
    .rm-mobile {
        display: none !important;
    }
    .column-mobile {
        flex-direction: column !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .something {
        width:max-content;
    }

    #ending-text {
        width: 80vw;
    }

    #our-team {
        width: 50vw !important;
    }
}